---
layout: vertx-project
title: One Column
---

.container.vertx-container

  / Main hero unit for a primary marketing message or call to action
  .row
    .jumbotron

      %h1 Project Vert.x is Awesome!
      %p This is the basic template for the JBoss Community Bootstrap/Awestruct project sites. This is where you would put a marketing message.
      %p<
        %a.btn.btn-primary.btn-lg(href="vertx-swatch.html") View the Swatches &raquo;

  %br
  .row
    .col-sm-12.well
      .row
        .col-sm-12
          %h2 Lorem ipsum dolor sit amet
        .col-sm-6
          %h4 Lorem ipsum dolor
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        .col-sm-6
          %h4 Lorem ipsum dolor
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
      .row
        .col-sm-12
          %h2 Lorem ipsum dolor sit amet
        .col-sm-6
          %h4 Lorem ipsum dolor
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          %br Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.
        .col-sm-6
          %h4 Lorem ipsum dolor
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          %br Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.